node_modules
.next
out
dist
.env
.env.*
!.env.production.example
.env.local
.env*.local
*.log
dev.log
.DS_Store
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
docs/NODE.txt
*.tsbuildinfo
scratch/
